@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: #F0D4FE;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    filter: color(100%);
    height: 400px; 
    width: 350px; 
    justify-content: center;
}

h1 {
    font-family: 'Lemonada', cursive;
    text-decoration: none;
    font-size: 80px;
    text-align: center; 
    margin: 0px;
}

h2 {
   font-family: 'Lemonada', cursive;
   font-size: 55px;
   padding-left: 15px; 
   text-align: center; 
   margin: 2px; 
}

h3 {
    font-size: 25px;
    margin: 0;
    justify-content: center;
    text-align: center; 
}

h4 {
    font-family: 'Lemonada', cursive;
    font-size: 16px;
    padding-left: 15px; 
    text-align: center; 
}

#header-text {
    flex-basis: 100%;
    display: inline-flex;
    justify-content: center;
    text-align: center; 
    padding: 25px; 
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 15px; 
    font-size: 16px; 
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: 'Lemonada', cursive;
    font-size: 14px;
    margin: 2px;
}

form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 5px; 
    margin: 50px auto;
    width: 100%;
}

div.userprofile {
    font-family: 'Lemonada', cursive;
    font-size: 20px; 
    text-align: center;
    margin: 0px auto;
    width: 90%; 
}
