{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>Author: {{ story.author }}</h4>
    <div id="story-content">

        <a href="{% url 'news:story' story.id %}">
            {% if story.url %}
                <img src="[{ story.image })">
            {% else %}
                <img src="https://picsum.photos/600">
            {% endif %}
        {{ story.content|linebreaks }}
        <h4><a href="{% url 'news:deleteStory' story.id %}">Delete Story</a></h4>
        <h4><a href="{% url 'news:updateStory' story.id %}">Update Story</a></h4>
    </div>
</div>

{% endblock %}